<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings >
		<add name="mysqlConnection" connectionString="Data Source=localhost;Port=3306;Database=herocorp;Uid=AutoSherpa;Pwd=pass@123;integrated security=True;command timeout=900;"  providerName="" ></add>
		<add name="remoteMSSqlConnection" connectionString="Data Source=10.200.1.74;Initial Catalog=herocorp;uid='autosherpa';password='P@ssw0rd@123';Connection Timeout=6000;"  providerName="" ></add>
	</connectionStrings>

	<appSettings>
		<add key="BatchLimitPerInsert" value="25000"></add>
		<add key="MySqlTableName"  value="HeroWinbackTempData"></add>
		<add key="remoteMSSqlTableName"  value="HeroWinbackTempData" ></add>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>